.bag-icon {
  width: 32px;
  height: 32px;
}

.item-count {
  position: absolute;
  font-size: 14px;
  letter-spacing: -1px;
  bottom: 4px;
}

.empty-message {
  font-size: 18px;
  margin: 50px auto;
}

.items {
  max-height: 252px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  margin-bottom: 15px;
}

.total-price-container {
  display: flex;
  justify-content: space-between;
  margin: 0 5px 15px;
  font-size: 18px;
  font-weight: bold;

  .total-text {
    text-transform: uppercase;
  }
}
