.bag-nav-icon {
  width: 32px;
  height: 32px;
}

.item-count {
  position: absolute;
  font-size: 14px;
  letter-spacing: -1px;
  bottom: 4px;
}

.dropdown {
  .empty-message {
    font-size: 18px;
    margin: 50px auto;
  }

  .items {
    max-height: 330px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }

  .total-price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5px 2.5px;
    font-size: 16px;
    font-weight: bold;

    .total-text {
      text-transform: uppercase;
      letter-spacing: 0.5px;
    }

    .total-price {
      font-size: 18px;
    }
  }

  .fee-message {
    font-size: 14px;
    padding: 0 5px;
    margin-bottom: 15px;
    color: #777f85;
  }
}
