.nav-link-container {
  width: 32px;
  height: 32px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 15px;

  &:hover {
    .dropdown-container {
      display: inline-block;
      opacity: 100%;
      visibility: visible;
      filter: none;
      transition: visibility 0.3s,
        opacity 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95),
        filter 0.25s cubic-bezier(0.05, 0.9, 0.75, 0.85);
    }
  }

  .dropdown-container {
    display: inline-block;
    position: absolute;
    padding-top: 15px;
    top: 32px;
    right: 0;
    z-index: 5;
    cursor: auto;
    transition: visibility 0.2s,
      opacity 0.2s cubic-bezier(0.05, 0.35, 0.45, 0.95),
      filter 0.25s cubic-bezier(0.05, 0.9, 0.75, 0.85) 0.06s;
    opacity: 0%;
    visibility: hidden;
    filter: blur(4.2px);

    .dropdown {
      width: 240px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 15px;
      border: 1px solid #0a0a0a;
      background-color: #f3f3f3;
    }
  }
}
