.bag-container {
  width: 100%;
  max-height: 847px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .bag {
    width: 60%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #777f85;
    margin: 15px 0;

    .header {
      width: 100%;
      display: flex;

      .title {
        width: min(40%, 375px);
        height: 56px;
        display: flex;
        border-bottom: 1px solid #777f85;
        justify-self: flex-start;

        h2 {
          position: relative;
          font-size: 32px;
          font-weight:600;
          margin: 0 0 0 8px;
          top: 22px;
          letter-spacing: -1px;
          z-index: 5;
        }
      }
    }
    .items-container {
      width: 100%;
      max-height: 60vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto 0;
      overflow-x: auto;
    }
  }
  .total-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin: 15px 0;

    .header {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content:flex-end;

      .title {
        width: min(55%, 280px);
        height: 56px;
        display: flex;
        border-bottom: 1px solid #777f85;
        justify-content:flex-end;
        align-items: flex-end;

        h2 {
          position: relative;
          font-size: 24px;
          font-weight: 600;
          margin: 0 8px 0 0;
          top: 4px;
          letter-spacing: -1px;
          text-transform: uppercase;
        }
      }
    }

    .body {
      display: flex;
      flex-direction: column;
      border-right: 1px solid #777f85;
      padding-right: 10px;

      .body-block {
        display: flex;
        justify-content: space-between;
        padding: 15px 0;

        .block-value {
          font-weight:500;
        }

        &:last-child {
          font-size: 18px;
          font-weight:bold;
          text-transform: uppercase;

          .block-value {
            font-weight:bold;
          }
        }
      }
    }

    .footer {
      display: flex;
      flex-direction: column;

      span {
        padding: 15px 0;
        color: #777f85;
        font-size: 14px;
      }
    }
  }
}
