.button {
  min-width: 128px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: #0a0a0a;
  color: #f3f3f3;
  text-transform: uppercase;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  border: 1px solid #0a0a0a;
  cursor: pointer;
  display: flex;
  justify-content: center;

  &:hover {
    background-color: #f3f3f3;
    color: #0a0a0a;
    border: 1px solid #0a0a0a;
  }

  &.google-btn {
    background-color: #2d75ea;
    color: #f3f3f3;
    border: 1px solid #2d75ea;

    &:hover {
      background-color: #F3F3F3;
      color: #4285f4;
      border: 1px solid #2d75ea;
    }
  }

  &.inverted-btn {
    background-color: #F3F3F3;
    color: #0a0a0a;
    border: 1px solid #0a0a0a;

    &:hover {
      background-color: #0a0a0a;
      color: #f3f3f3;
      border: 1px solid #F3F3F3;
    }
  }
}
