$bp-medium: 64em; // 1024px
$bp-large: 85.375em; // 1366px
$bp-xlarge: 120em; // 1920px

$mq-medium: '(min-width: #{$bp-medium})'; // 1024px
$mq-large: '(min-width: #{$bp-large})'; // 1366px
$mq-xlarge: '(min-width: #{$bp-xlarge})'; // 1920px

$width-medium: max(31vw, 320px);
$width-large: min(23vw, 442px);
$width-xlarge: min(18.3vw, 352px);

.product-card-container {
  width: $width-medium;
  height: $width-medium;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: pointer;

  @media #{$mq-medium} {
    width: $width-medium;
    height: $width-medium;
  }

  @media #{$mq-large} {
    width: $width-large;
    height: $width-large;
  }

  @media #{$mq-xlarge} {
    width: $width-xlarge;
    height: $width-xlarge;
  }

  .image-container {
    width: 100%;
    height: 95%;
    overflow: hidden;
    margin-bottom: 5px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 5px;
    transition: transform 0.8s cubic-bezier(0.25, 0.45, 0.45, 0.95),
      filter 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  }

  .button-container {
    width: 85%;
    position: absolute;
    top: calc(95% - 64px);
    display: flex;
    justify-content: space-between;
  }

  button {
    display: flex;
    opacity: 0%;
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.4));
    transition: opacity 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  }

  .favorites-container {
    display: flex;
    opacity: 0%;
    position: absolute;
    width: 85%;
    top: 15px;
    justify-content: flex-end;
    transition: opacity 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);

    .add-to-favorites {
      cursor: pointer;

      .heart-icon {
        color: #f3f3f3;
        overflow: visible;
        opacity: 87%;
        width: 32px;
        height: 32px;
        transition: color 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);

        path#background-stroke {
          stroke: rgba(0, 0, 0, 0.25);
          stroke-width: 2px;
          filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.4));
          transition: stroke 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
        }
      }

      &:hover {
        .heart-icon {
          color: #ef000c;

          path#background-stroke {
            stroke: rgba(239, 0, 12, 0.25);
          }

          path#main-stroke {
            fill: rgb(239, 0, 12, 0);
            transition: fill 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
          }
        }
      }

      &.active {
        .heart-icon {
          color: #ef000c;

          path#background-stroke {
            stroke: rgba(239, 0, 12, 0.25);
            stroke-width: 2px;
          }

          path#main-stroke {
            fill: #ef000c;
          }
        }
      }
    }
  }

  &:hover {
    img {
      filter: brightness(80%);
      transform: scale(1.1);
    }

    button {
      opacity: 0.85;
    }

    .favorites-container {
      opacity: 100%;
    }
  }

  .footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 16px;

    .product-name {
      margin-bottom: 15px;
    }

    .product-price {
      margin-right: 5%;
    }
  }
}
