.nav {
  height: 118px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo-container {
    padding: 10px 15px;

    .logo {
      font-family: 'GFS Didot', serif;
      font-size: 128px;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: -40px;
      margin: 0;
      color: #0A0A0A;
    }
  }

  .nav-links-container {
    width: 50%;
    display: flex;
    justify-content: flex-end;

    .nav-link {
      font-family: 'Inter', sans-serif;
      padding: 10px 15px;
      cursor: pointer;
      text-transform: uppercase;
    }
  }
}
