@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cairo:wght@200;300;400;500;700&display=swap');

.categories-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.category-container {
  min-width: 30%;
  height: 240px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 7.5px 15px;
  overflow: hidden;

  &:hover {
    cursor: pointer;

    & .background-image {
      transform: scale(1.1);
    }

    & .category-body {
      transform: scale(1.05);
      opacity: 0.95;
    }
  }

  &.large {
    height: 380px;
  }

  &:first-child {
    margin-right: 7.5px;
  }

  &:last-child {
    margin-left: 7.5px;
  }

  .background-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: transform 0.8s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  }

  .category-body {
    height: 90px;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.85;
    position: absolute;
    transition: opacity 0.4s cubic-bezier(0.25, 0.45, 0.45, 0.95),
      transform 0.8s cubic-bezier(0.25, 0.45, 0.45, 0.95);

    h2 {
      font-family: 'Bebas Neue', sans-serif;
      font-weight: bold;
      font-size: calc(42px + 2.5vw);
      text-transform: uppercase;
      margin: 0;
      margin-top: 8px;
      color: #fcfcfc;
      text-shadow: 1px 1px 10px rgba(39, 38, 33, 0.2),
        1px 1px 15px rgba(39, 38, 33, 0.2);
    }

    p {
      font-family: 'Cairo', sans-serif;
      font-weight: lighter;
      font-size: calc(12px + 0.5vw);
      text-transform: uppercase;
      margin: 0;
      color: #fcfcfc;
    }
  }
}
