.bag-item-container {
  width: 100%;
  display: flex;
  height: 150px;
  padding: 15px;
  font-size: 16px;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);

  .image-container {
    height: 120px;
    width: 120px;
    transition: overflow 0.8s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    margin-right: 10px;

    img {
      width: 120px;
      height: 120px;
      object-fit: cover;
      transition: transform 0.6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }
  }

  .name {
    width: 30%;
  }

  .quantity,
  .price,
  .total-price {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 10%;
    user-select: none;
  }

  .quantity {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: max(12%, 80px);

    .chevron {
      cursor: pointer;
      width: 24px;
      height: 24px;
    }

    .value {
      display: flex;
      justify-content: center;
      width: 32px;
    }
  }

  .price {
    position: relative;
    .multiplied {
      position: relative;
      right: 4px;
      bottom: 1px;
    }
  }

  .total-price {
    font-weight: bold;
  }

  .icon-btn {
    width: 24px;
    height: 24px;
    color: #777f85;
    cursor: pointer;
    transition: color 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);

    path,
    polyline {
      width: 24px;
      height: 24px;
    }

    &:hover {
      color: #0a0a0a;
    }
  }

  .remove {
    justify-content: flex-end;
  }

  &:hover {
    background-color: rgba($color: #777f85, $alpha: 0.05);

    .image-container {
      img {
        transform: scale(1.25);
      }
    }
  }
}
