@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=GFS+Didot&family=Inter:wght@100;200;300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f3f3;
  max-width: 94vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: #0a0a0a;
}

div#root {
  max-width: 1800px;
  margin: 0 auto;
}
